{
  "check-coverage": false,
  "all": true,
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "**/**.spec.ts"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "extension": [
    ".ts"
  ],
  "cache": false,
  "temp-dir": "./coverage/tmp",
  "report-dir": "./coverage"
}